<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">Django Datta Able</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if request.resolver_match.url_name == 'home' %} active {% endif %}">
                    <a href="/" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Views</label>
                </li>
                
                <li class="nav-item pcoded-hasmenu {% if request.resolver_match.url_name == 'bags_views' or request.resolver_match.url_name == 'best_customer' or request.resolver_match.url_name == 'customers_amount' or request.resolver_match.url_name == 'add_bag'%} active pcoded-trigger {% endif %}">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-server"></i>
                        </span>
                        <span class="pcoded-mtext">Views</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="/bag_views" class="">Bag by Designer</a>
                        </li>
                        <li class="">
                            <a href="/best_customer" class="">Best Customer</a>
                        </li>
                        <li class="">
                            <a href="/customers_amount" class="">Report Customer Amount</a>
                        </li>
                        <li class="">
                            <a href="/add_bag" class="">Add Bag</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item pcoded-menu-caption">
                    <label>Table</label>
                </li>
                
                <li class="nav-item pcoded-hasmenu {% if request.resolver_match.url_name == 'show_designers' or request.resolver_match.url_name == 'show_bags' or request.resolver_match.url_name == 'show_customers' or request.resolver_match.url_name == 'show_rentals'%} active pcoded-trigger{% endif %}">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-server"></i>
                        </span>
                        <span class="pcoded-mtext">Tables</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="/bags_table" class="">Bag</a>
                        </li>
                        <li class="">
                            <a href="/designers_table" class="">Designer</a>
                        </li>
                        <li class="">
                            <a href="/customers_table" class="">Customer</a>
                        </li>
                        <li class="">
                            <a href="/rentals_table" class="">Rentals</a>
                        </li>
                    </ul>
                </li>
                
                
                <li class="nav-item pcoded-menu-caption">
                    <label>Security</label>
                </li>
                <li data-username="Authentication Sign up Sign in reset password Change password Personal information profile settings map form subscribe" class="nav-item pcoded-hasmenu">
                    <a href="javascript:" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-lock"></i>
                        </span>
                        <span class="pcoded-mtext">Authentication</span>
                    </a>
                    <ul class="pcoded-submenu">
                        <li class="">
                            <a href="/reset_pass" class="">Reset Pass</a>
                        </li>
                        <li class="">
                            <a href="/customer_register" class="">Profile</a>
                        </li>
                    </ul>
                </li>
                

                <li data-username="Disabled Menu" class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-power"></i>
                        </span>
                        <span class="pcoded-mtext">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
